<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715273928977-vca672nark0jik1loi15t45desjeludv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715273928977-vca672nark0jik1loi15t45desjeludv</string>
	<key>API_KEY</key>
	<string>AIzaSyDeQ_V3JzFKRHU02fR18mJ9NKbsDVPv2xI</string>
	<key>GCM_SENDER_ID</key>
	<string>715273928977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banutraul.MoneyTracker</string>
	<key>PROJECT_ID</key>
	<string>moneytrackerbyrb</string>
	<key>STORAGE_BUCKET</key>
	<string>moneytrackerbyrb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715273928977:ios:225496bc2c0257d1738cb0</string>
</dict>
</plist>